/* reset.css */

/* 모든 요소의 기본 마진과 패딩을 제거하고, 박스 모델을 보편적으로 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* HTML5 요소들이 제대로 블록 요소로 동작하도록 */
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
  }
  
  /* 리스트 스타일 제거 */
  ol, ul {
    list-style: none;
  }
  
  /* 링크의 밑줄 제거 */
  a {
    text-decoration: none;
    color: inherit; /* 기본 텍스트 색상으로 설정 */
  }
  
  /* 이미지의 최대 크기를 100%로 제한하여 부모 요소보다 넘치지 않게 설정 */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* 인라인 요소와 블록 요소의 일관성을 위해 HTML 기본 폰트 크기 초기화 */
  body {
    line-height: 1.5;
    font-family: sans-serif;
  }
  
  /* 표 요소 초기화 */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* 인풋, 버튼, 텍스트 에어리어 등의 기본 스타일 제거 */
  button, input, textarea {
    font-family: inherit;
    border: none;
    background: none;
    outline: none;
  }
  
  /* 버튼의 기본 커서 스타일 초기화 */
  button {
    cursor: pointer;
  }
  
  /* HTML 기본 크기 설정 및 스크롤바 제거 */
  html {
    font-size: 100%; /* 기본 폰트 크기를 16px로 유지 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
  }